<section>
    <div class="footer ">
       <div class="container">
        <div class="row gy-5">
            <div class="col-sm-12 col-md-4 pt-3">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-sm-12 col-md-4 pt-3">
                <h3>AROUND THE WEB</h3>
                <div class="d-flex flex-wrap justify-content-center align-items-center">
                   <div class="icon"><i class="fa-brands fa-facebook"></i></div>
                   <div class="icon"><i class="fa-brands fa-twitter"></i></div>
                   <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
                   <div class="icon"><i class="fa-solid fa-globe"></i></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 pt-3">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
    
        </div>

       </div>
    </div>
</section>
<section class="miniFooter">
    <div class="container">
        <div class="text-center text-white pt-3">
            <p>Copyright © Your Website 2021</p>
        </div>

    </div>

</section>
