<section>
    <div class="portfolio">
        <div class="container py-3">
            <div class="text-center">
                <h2 class="h1 text-uppercase">portfolio component</h2>
                <div class="d-flex justify-content-center align-items-center mb-3">
                    <div class="line me-3 "></div>
                    <i class="fa-solid fa-star "></i>
                    <div class="line ms-3 "></div>

                </div>
            </div>
            <div class="row g-5">
                @for(imge of images; track $index;let i = $index){
                
                    <div class="item col-sm-12 col-md-6 col-lg-4">

                        <div class="inner position-relative overflow-hidden" (click)="showImage(i)" >
    
                            <img [src]="imge" alt="home" class="w-100 rounded" />
    
                            <div
                                class="layer position-absolute top-0 start-0 bottom-0 end-0 rounded d-flex flex-wrap  justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white fa-6x "></i>
                            </div>
    
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
    <div #targetDiv
        class="lightBoxContainer position-fixed top-0 bottom-0 start-0 end-0 bg-primary bg-opacity-25 d-none justify-content-center align-items-center"
        (click)="hideDiv($event)">
        <div class="lightBoxItem ">
            <img #targetImage src="poert1.png" alt="home" class="lightBoxImg">
        </div>

    </div>
</section>